header{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    align-items: center;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    position: sticky;
    flex: 0;
    padding:5px;
    top:0px;
    max-height: 100px;
    flex-wrap:wrap;

}

ul {
    display: flex;
    gap:20px;
    font-size: 16px;
    margin: 0px;
    list-style-type:none;

}

a{
    text-decoration: none;
    color:#f9faf8;
}


body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}